@using ITGlobal.MarkDocs
@using Microsoft.Extensions.DependencyInjection
@{
    var doc = Context.RequestServices.GetRequiredService<IMarkDocService>()
        .Documentations[0];
}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@doc.Title</title>
    <link rel="sitemap" type="application/xml" title="sitemap" href="@Url.Action("GetSitemap","Home")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/lib/luminous/luminous-basic.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
    <script src="@Url.Content("~/lib/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery.color.min.js")"></script>
    <script src="@Url.Content("~/lib/popper.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/bootstrap-treeview.min.js")"></script>
    <script src="@Url.Content("~/lib/luminous/luminous.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="@Url.Action("Resource", "Home", new {path = ""})">
            @doc.Title
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto"></ul>

            <form class="form-inline" method="get" action="@Url.Action("Search", "Home")">
                <div class="input-group">
                    <input type="text" class="form-control w-50" placeholder="Search" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
</body>
</html>
