@model ITGlobal.MarkDocs.Comments.IComment

<li data-comment-id="@Model.Id">
    <div class="well well-sm">
        <div>
            <samp>@Model.UserId</samp>
            (@Model.LastChangeTime.ToString("yyyy MMM dd HH:mm:ss"))
            @if (Model.IsEdited)
            {
                <i class="fa fa-fw fa-edit"></i>
            }
        </div>
        
        <pre id="comment-text-@Model.Id" style="display: none;">@Html.Raw(Model.Markup)</pre>
        <div>@Html.Raw(Model.Html)</div>
        
        <div id="comment_toobar_@Model.Id">
            <button type="button" class="btn btn-default" onclick="$('#comment_toobar_@Model.Id').hide();$('#reply_@Model.Id').show();">
                <i class="fa fa-fw fa-comment"></i> Reply
            </button>

            <button type="button" class="btn btn-default" onclick="editComment('@Model.Id');">
                <i class="fa fa-fw fa-edit"></i> Edit
            </button>

            <form action="~/_/comment/delete" type="hidden" method="post" style="display: inline;">
                <input name="page" type="hidden" value="@Model.Page.Id" />
                <input name="branch" type="hidden" value="@Model.Page.Documentation.Id" />
                <input name="id" type="hidden" value="@Model.Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-fw fa-trash"></i> Delete
                </button>
            </form>
        </div>
    </div>

    <ul>
        @foreach (var reply in Model.Replies)
        {
            @Html.Partial("Components/_Comment", reply)
        }

        <li>
           

            <form id="reply_@Model.Id" action="~/_/comment/reply" type="hidden" method="post" class="form-horizontal" style="display: none;">
                <input name="replyto" type="hidden" value="@Model.Id"/>
                <input name="branch" type="hidden" value="@Model.Page.Documentation.Id"/>
                <input name="page" type="hidden" value="@Model.Page.Id"/>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" placeholder="User name" name="user" value="user@@server.com">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-fw fa-comment"></i> Leave a comment
                        </button>
                        <button type="button" class="btn btn-default" onclick="$('#comment_toobar_@Model.Id').show();$('#reply_@Model.Id').hide();">
                            <i class="fa fa-fw fa-times"></i> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</li>