@using ITGlobal.MarkDocs.Example.Model
@model ITGlobal.MarkDocs.Example.Model.PageTreeNodeModel

@{
    var url = $"/{Uri.EscapeDataString(Model.Documentation.Id)}{Model.Page.Id}";

    var isFolder = Model.Page.NestedPages.Length > 0;
    var icon = isFolder ? "<i class=\"fa fa-fw fa-folder-o\"></i>" : "<i class=\"fa fa-fw fa-file-o\"></i>";

    var isActive = Model.SelectedPage.Id == Model.Page.Id;
}

<li data-id="@Html.Encode(Model.Page)" class="@(isActive?" active":"")" title="@Model.Page.Metadata.Title">
    <a href="@url">
        @Html.Raw(icon)
        <span>@(!string.IsNullOrEmpty(Model.Page.Metadata.ShortTitle)?Model.Page.Metadata.ShortTitle: Model.Page.Metadata.Title)</span>
    </a>
    @if (isFolder)
    {
    <ul>
        @foreach (var page in Model.Page.NestedPages)
        {
        @(await Html.PartialAsync("Components/_PageTreeNode", new PageTreeNodeModel(page, Model.SelectedPage)))
        }
    </ul>
    }
</li>