@model IBlogPost

@{
    ViewData["Title"] = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>

    <div>@Model.Date.ToString("D")</div>

    <ul class="list-inline">
        <li><strong>Tags:</strong></li>
        @foreach (var tag in Model.Tags)
        {
            <li>
                <a href="@Url.Action("ByTag", new {name = tag})">@tag</a>
            </li>
        }
    </ul>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>
                    <a href="@Model.Id"><samp>@Model.Id</samp></a>
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td><samp>@Model.Date.ToString("s")</samp></td>
            </tr>
            <tr>
                <td>ContentId</td>
                <td><samp>@Model.ContentId</samp></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><samp>@Model.Author</samp></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><samp>@Model.Description</samp></td>
            </tr>
            <tr>
                <td>Permalink</td>
                <td>
                    @if (Model.Permalink != null)
                    {
                        <a href="@Model.Permalink.Id"><samp>@Model.Permalink.Id</samp></a>
                    }
                    
                </td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="@Url.Action("ByTag", new {name = tag})" style="margin-right: 1em;"><samp>@tag</samp></a>
                    }
                </td>
            </tr>
            <tr>
                <td>Meta tags</td>
                <td>
                    @foreach (var metatag in Model.MetaTags)
                    {
                    <div>
                        <samp>@metatag</samp>
                    </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    @Html.Raw(Model.ReadHtmlString())
</div>