@using ITGlobal.MarkDocs
@using ITGlobal.MarkDocs.Site
@model IPage
@{
    Layout = "_Layout";
    ViewBag.Title = Model.Title;
}
<div class="layout">
    <div class="sidebar border-right">
        @(await Html.PartialAsync("_Sidebar", Model))
    </div>
    <div class="content">
        @if (Env.ENABLE_DEV_MODE)
        {
            @(await Html.PartialAsync("_CompilationReport", Model.Documentation.CompilationReport))
        }
        @(await Html.PartialAsync("_Breadcrumbs", Model))
        <a name="top"></a>
        <article>
            <h1 class="pb-1 mb-4 border-bottom">
                @Model.Title
            </h1>
            @Html.Raw(Model.ReadHtmlString())
        </article>
    </div>
</div>